/* scss/quarks/_colors.scss */

$white: #fff;
$black: #000;

$md-brown:#9A8E6C;
$dk-brown: #4C4532;

$green: #77B43D;
$md-green: rgba(174,213,123,1);
$minty-fresh: #F3F7E7;
$aqua: #46B095;
$lt-aqua: #AEE9DA;
$purple: #9576A3;


$lt-tan:  #F7F6F4;
$dk-grey: #2F2D30;
$md-grey: #5C584D;

$text: $dk-brown;

$light:  $lt-tan;
$medium: $md-brown;
$dark: $dk-grey;

$pop: $green;
$pop2: $green;
$sidebar: $white;
