/* scss/quarks/_colors.scss */

$white: #fff;
$black: #000;

$md-brown:#9A8E6C;
$dk-brown: #5A4D35;

$green: #7BB644;
$md-green: rgba(117,231,213,1);
$aqua: #57BA95;

$lt-tan: #F7F6F4;
$dk-grey: #2F2D30;

$light: #F7F7F7;
$medium: $lt-tan;
$dark: $dk-grey;

$heading: $dk-brown;
$subheading: $dk-brown;
$text: $dk-brown;

$pop: $aqua;
$sidebar: $lt-tan;
$bg: $white;
$pop2: $aqua;