.white-bg{background-color:$white;}
.black-bg{background-color:$black;}
.dk-grey-bg{background-color:$dk-grey;}
.md-grey-bg{background-color:$md-grey;}
.lt-tan-bg{background-color:$lt-tan;}
.md-brown-bg{background-color:$md-brown;}
.dk-brown-bg{background-color:$dk-brown;}
.green-bg{background-color:$green;}
.md-green-bg{background-color:$md-green;}
.aqua-bg{background-color:$aqua;}
.minty-fresh-bg{background-color:$minty-fresh;}
.purple-bg{background-color:$purple;}

.white-txt{color:$white;}
.black-txt{color:$black;}
.dk-grey-txt{color:$dk-grey;}
.md-grey-txt{color:$md-grey;}
.lt-tan-txt{color:$lt-tan;}
.md-brown-txt{color:$md-brown;}
.dk-brown-txt{color:$dk-brown;}
.green-txt{color:$green;}
.md-green-txt{color:$md-green;}
.purple-txt{color:$purple;}
.aqua-txt{color:$aqua;}

.atoms .colors:before,
.atoms .colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}
.atoms .color {
  *zoom: 1;
  border: 1px solid #E1E1E1;
}
.atoms .color .swatch{
  padding: 30px !important
}

.hex:before{
    content: "hex: ";
}
.class > li {
    margin-top: 5px;
}
.class .text:before{
    content: "text: ";
}
.class .bg:before{
    content: "background: ";
}
.sass:before{
    content: "sass: ";
}