/* scss/atoms/_gradient-helpers.scss */

.gradient-green {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7fc95b+0,b8db7e+35,b8db7e+65,7fc95b+100 */
background: #7fc95b; /* Old browsers */
background: -moz-linear-gradient(left, #7fc95b 0%, #b8db7e 35%, #b8db7e 65%, #7fc95b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #7fc95b 0%,#b8db7e 35%,#b8db7e 65%,#7fc95b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #7fc95b 0%,#b8db7e 35%,#b8db7e 65%,#7fc95b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.gradient-green-glow {
background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffffff 25%, #ffffff 25%, #dfecb9 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 25%,#ffffff 25%,#dfecb9 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffffff 25%,#ffffff 25%,#dfecb9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.gradient-dark {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#254604+0,100e10+100&0.8+0,1+100 */
background: -moz-linear-gradient(top, rgba(37,70,4,0.8) 0%, rgba(16,14,16,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(37,70,4,0.8) 0%,rgba(16,14,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(37,70,4,0.8) 0%,rgba(16,14,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.gradient-aqua {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8db7e+0,46b095+0,a1dba0+24,a1dba0+76,a1dba0+76,46b095+100,b8db7e+100,b8db7e+100,46b095+100 */
background: rgb(184,219,126); /* Old browsers */
background: -moz-linear-gradient(left, rgba(184,219,126,1) 0%, rgba(70,176,149,1) 0%, rgba(161,219,160,1) 24%, rgba(161,219,160,1) 76%, rgba(161,219,160,1) 76%, rgba(70,176,149,1) 100%, rgba(184,219,126,1) 100%, rgba(184,219,126,1) 100%, rgba(70,176,149,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(184,219,126,1) 0%,rgba(70,176,149,1) 0%,rgba(161,219,160,1) 24%,rgba(161,219,160,1) 76%,rgba(161,219,160,1) 76%,rgba(70,176,149,1) 100%,rgba(184,219,126,1) 100%,rgba(184,219,126,1) 100%,rgba(70,176,149,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(184,219,126,1) 0%,rgba(70,176,149,1) 0%,rgba(161,219,160,1) 24%,rgba(161,219,160,1) 76%,rgba(161,219,160,1) 76%,rgba(70,176,149,1) 100%,rgba(184,219,126,1) 100%,rgba(184,219,126,1) 100%,rgba(70,176,149,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}