/* scss/atoms/_links.scss */

a, a:visited {
    color: $pop;
    text-decoration: none;
    transition:all .35s;
    &:hover, &.hover{
        text-decoration: underline;
        color: $black;
    }
    &.underline, p.a{
        border-bottom: 2px solid $pop;
        color: $text;
        &:hover, &.hover{
            background-color: $lt_aqua;
            border-color: $lt-aqua;
            text-decoration: none;
        }
    }
}