/* scss/atoms/_links.scss */

a, a:visited {
    color: $pop;
    text-decoration: none;
    transition:all .35s;
    &:hover, &.hover{
        text-decoration: underline;
        color: $purple;
    }
    &.underline, .entry-content.a{
        border-bottom: 2px solid $pop;
        color: $text;
        &:hover, &.hover{
            background-color: $lt_aqua;
            border-color: $lt-aqua;
            text-decoration: none;
        }
    }
}

a.read-more {
	font-weight:700;
	letter-spacing:1px;
	text-transform:uppercase;
	&:hover {
		text-decoration:none;
		&::after {
		    left:12px;
		}
	}
	
	&::after{
		content:'\f061';
		font-family: 'fontawesome';
		font-size:1.2rem;
		display:inline-block;
		position: relative;
        top: -2px;
        left:4px;
        transition:left .25s;
	}
}