/* scss/atoms/_typography.scss */

body {font-family:$font__main;font-weight:500;line-height:1.5;font-size:1.6rem;color: $text}
* {  
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.wt100 {font-weight:100;}
.wt300 {font-weight:300;}
.wt500 {font-weight:500;}
.wt700 {font-weight:700;}
.wt900 {font-weight:900;}

h1, h2, h3, h4 {font-weight:700;line-height:1.2}

h1 {font-size:5rem;}
h2 {font-size:4.2rem;}
h3, .subheader {font-size:2.4rem;padding-top:.5em}
h4 {font-size:1.8rem;padding-top:.5em}

p {margin:1em 0;max-width:900px;}
p.lg {font-size:1.8rem;}
p.huge {font-size:2.4rem;margin-top:.5em;margin-bottom:.5em;line-height:1.4}
p.sm, small {font-size:1.2rem;}

.center-text{text-align:center;}
.left-text{text-align:left;}
.right-text{text-align:right;}
.justify-text{text-align:justify;}

.rounded {font-family:$font__rounded;}

