/* scss/atoms/_typography.scss */

body {font-family:$font__main;font-weight:300;line-height:1.625;font-size:1.8rem;color: $dk-brown;}

.wt100 {font-weight:100;}
.wt300 {font-weight:300;}
.wt500 {font-weight:500;}
.wt700 {font-weight:700;}
.wt900 {font-weight:900;}

h1, h2, h3, h4 {font-weight:700;}

h1 {font-size:6rem;}
h2 {font-size:4.8rem;}
h3, p.xxl, .subheader {font-size:3.2rem;}
h4 {font-size:2.2rem;}

p {margin:1em 0;max-width:900px;}
p.lg {font-size:1.8rem;}
