/* scss/molecules/_buttons.scss */

.atoms .color.buttons {
    padding-top: 15px !important;
}

/* BUTTON HELPERS 
================================================== */

.button {
    transition: .25s all ease-in-out;
    color: $aqua;
    border: 1px solid $aqua;
    line-height: 2.3rem;
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing:.1em;
    text-transform:uppercase;
    border-radius: 3rem;
    display: block;
    text-align: center;
    background-color: white;
    padding: 5px 20px;
    &.huge {
       font-size: 3.2rem; 
       line-height:3.2rem;
       padding:15px 35px;
    }
    &:hover {
    	transition: .25s all ease-in-out;
    	color: white; 
    	background-color:$aqua;
    }
    &.reverse {
        color: white; 
    	background-color:$aqua;
    	&:hover {
    	    color: $aqua; 
    	    background-color:#fff;
    	}
    }
    &.white {
    	border-color: $white;
    	color: $white;
    	background-color:transparent;
    	&:hover {
        	transition: .25s all ease-in-out;
        	color: $aqua; 
        	background-color:$white;
        	border-color: transparent;
        }
        &.green-txt:hover {color:$green;}
        &.reverse {
            color: $aqua; 
        	background-color: $white;
        	border-color: transparent;
        	&.green-txt {color:$green;}
        	&:hover {
        	    color: $white; 
        	    background-color:transparent;
        	    border-color: $white;
        	}
        }
    }
}