/* scss/molecules/_buttons.scss */

.atoms .color.buttons {
    padding-top: 15px !important;
}


/* BUTTON HELPERS 
================================================== */

@mixin buttonColor($color, $text-color){
	border-color: $color;
	color: $color;
	background-color:transparent;
	&:hover {
    	transition: .25s all ease-in-out;
    	color: $text-color; 
    	background-color:$color;
    	border-color: transparent;
    }
    &.reverse {
        color: $text-color; 
    	background-color: $color;
    	border-color: transparent;
    	&:hover {
    	    color: $color; 
    	    background-color:transparent;
    	    border-color: $color;
    	}
    }
}

.button {
    transition: .25s all ease-in-out;
    color: $aqua;
    border: 1px solid $aqua;
    line-height: 2.3rem;
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing:.1em;
    text-transform:uppercase;
    border-radius: 4rem;
    display: block;
    text-align: center;
    background-color: white;
    padding: 5px 20px;
    &.huge {
       font-size: 3.2rem; 
       line-height:3.2rem;
       padding:15px 35px;
    }
    &:hover {
    	transition: .25s all ease-in-out;
    	color: white; 
    	background-color:$aqua;
    }
    &.reverse {
        color: white; 
    	background-color:$aqua;
    	&:hover {
    	    color: $aqua; 
    	    background-color:#fff;
    	}
    }
    &.white {@include buttonColor($white, $aqua);}
    &.white.green-txt {@include buttonColor($white, $green);}
    &.white.purple-txt {@include buttonColor($white, $purple);}
    &.green {@include buttonColor($green, $dk-grey);}

}