/* scss/organisms/_footer.scss */

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.site-content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 0px;
}
footer#colophon {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 0;
  background-color:$dark;
  color: white;
  a {
      color: $light;
  }
  .site-info { font-size:1.2rem;color:$md-brown;padding: 10px;text-align:center;}
}

.location {
    position:relative;
    @include bp(viewport_s){
        height:320px;
    }
	.acf-map {
		height:150px;
		width:100%;
		position:relative;
		z-index:1;
		@include bp(viewport_s){
		    height:100%;
		    position:absolute;
        }
	}
	
	.map-overlay {
		background: RGB(174, 213, 123);
		height:100%;
		@include bp(viewport_s){
	        background:transparent;    
	    }
		> div {
			height:100%;
	        position:relative;
			z-index:10;
			background: RGBA(174, 213, 123, .85);
			padding:30px 2vw 10px 2vw;
			ul {
				list-style-type:none;
				margin-left:24px;
				li {
				    margin-bottom:20px;
				    position:relative;
				    svg {
				        position:absolute;
				        left:-24px;
				        top: 3px;
				    }
				    p {
					    font-weight:700;
					    margin:0;
					    
				    }
				    small {
					    font-weight:300;
					    font-size:1.4rem;
					    display:block;
					}
					a {color: $dk-brown;
						&:hover {color: $white;text-decoration:none;}
					}
				}
			}
		}
	}
}