/* scss/organisms/_header.scss */


header#masthead {
    position: relative;
    background-color: $white;
    width: 100%;
    padding: 0 .75em;
    z-index: 99;    
    margin: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
    -moz-box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
    box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
    @include bp(viewport_m){
      position: fixed;
    }
    @include bp(viewport_l){
      top: 0;
      padding: 0 20px 0 30px;
    }
    nav#site-navigation {
      float: right;
      padding-left: 2vw;
    }
    input[type=checkbox] {
      display: none
    }
    .show-menu {
        
        svg {
            z-index: 30;
            margin-top: 23px;
            font-size: 2.2rem;
            float:right;
            position:relative;
            @include bp(viewport_l){
                font-size: 3rem;
            }
            
        }
        svg.fa-bars {
          display: inline-block;
          opacity: 1;
        }
        svg.fa-times {
          display: inline-block;
          opacity: 0;
          position:relative;
          left:20px;

        }
        @include bp(viewport_l){
            display:none;
        }
    }
    input[type="checkbox"]:checked + .show-menu {
        svg.fa-bars {
          display: inline-block;
          opacity: 0;
        }
        svg.fa-times {
          display: inline-block;
          opacity: 1;
        }
    }
    .site-branding{
        .site-title {
            margin: 10px 0;
            float:left;
            line-height: 0;
            display: inline-block;
            img {
                width: auto;
                max-height: 50px;
                @include bp(viewport_l){
                    max-height: 70px;
                }
            }
            a {
                display: inline-block;
                span {
                    display: block;
                    height: 0;
                    width: 0;
                    overflow: hidden;
                    transform: translateY(-9999px);
                }
            }
        }  
    }
    .social-navigation {
        text-align: right;
    }

    .social-navigation a {
        font-size: 30px;
        padding: 5px
    }
    .menu-main-menu-container {
      display: none;
      animation: display_anim .3s ease-in-out;
      @include bp(viewport_l){
           display:block;
      }
    }
    input[type=checkbox]:checked ~ .menu-main-menu-container {
      display: block;
      background: $green; 
      position: absolute;
      left: 0;
      bottom: inherit;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 10;
      overflow: hidden;
      @include bp(viewport_l){
          background: transparent;
          position:relative;
          height:auto;
      }

    }
    .menu-main-menu-container {
    	text-align: left;
    	ul{
            margin: 3em .75em .75em .75em;
            list-style-type:none;
            @include bp(viewport_l){
                margin:0;
            }
            li {
                margin-top: .5em;
                font-family: $font__main;
                font-weight: 500;
                font-size:2.4rem;
                text-transform: uppercase;
                letter-spacing:1px;
                text-align:right;
                 @include bp(viewport_l){
                    margin: 0;
                    float:left;
                    font-size:1.3rem;
                    
                }
                a {
                    color: $white;
                    text-decoration: none;
                     @include bp(viewport_l){
	                     display:table-cell;
	                     vertical-align:middle;
	                     padding:0 10px;
	                     height: 90px;
	                     color: $green;
	                     transition:all .5s;
	                     &:hover {
	                         color: $dk-brown;
	                         background:$minty-fresh;
	                     }
                     }
                }
                
                &.non-active a {
	                color: $lt-tan;
	                font-weight:500;
                     @include bp(viewport_l){
                     color: $md-brown;
 	                     &:hover {
	                         color: $md-brown;
	                         background:transparent;
	                     }
                      }
                }
            }
    	}
    }
    .menu-social-media-container {
        padding-right: 2vw;
        #social-links {
            li {
                display: inline;
                svg {
                    margin-top: 2vw;
                }
            }
        }
    }
}

//scrolled up height
body.scrolled {
	header#masthead {
		.site-branding .site-title {
		    margin:3px 0;
		    transition: margin .5s;
		    img { max-height: 44px; transition: max-height .5s;}
		 }
		
		.menu-main-menu-container ul li a { height: 50px;}
	}
}


//adjust for WP admin bar
body.admin-bar header#masthead { top:32px; }

//adjust for Styleguide
#header-container{
    .source {
        position: relative;
        header#masthead {
            position: relative;
            border:1px solid #ccc;
        }
    }
}